In [1]:
import pandas as pd
import numpy as np
import pydotplus
from sklearn.datasets import load_iris
from sklearn import tree

In [2]:
dataset = pd.read_csv('energy-use-and-greenhouse-gas-emissions-related-to-federal-facilities-and-fleets-en.csv')

In [3]:
dataset

,Federal organization,Fiscal year,GHG source,GHG scope,Energy category,Energy use (GJ),Emissions (t)
0,Agriculture and Agri-Food Canada,FY 2005-06,facilities,2,electricity,524494.106500,54100.253730
1,Agriculture and Agri-Food Canada,FY 2005-06,facilities,1,natural gas,446241.301700,22229.480080
2,Agriculture and Agri-Food Canada,FY 2005-06,facilities,2,district energy,154568.000000,11203.651960
3,Agriculture and Agri-Food Canada,FY 2005-06,fleets,1,gasoline,73844.057790,4540.532151
4,Agriculture and Agri-Food Canada,FY 2005-06,facilities,1,"fuel oil (1, 2, 4, 5, 6, diesel, kerosene)",59955.495690,4271.967786
...,...,...,...,...,...,...,...
938,Transport Canada,FY 2017-18,fleets,1,gasoline,20377.662310,1349.490933
939,Transport Canada,FY 2017-18,facilities,1,natural gas,18150.421950,903.917757
940,Transport Canada,FY 2017-18,facilities,2,electricity,89083.257910,802.175774
941,Transport Canada,FY 2017-18,facilities,1,liquified petroleum gas,2928.253105,178.667635
942,Transport Canada,FY 2017-18,fleets,1,fuels with renewable content,1888.766343,26.551682

In [4]:
x= dataset.iloc[:,[3,5,6]]

In [5]:
x

     GHG scope  Energy use (GJ)  Emissions (t)
0            2    524494.106500   54100.253730
1            1    446241.301700   22229.480080
2            2    154568.000000   11203.651960
3            1     73844.057790    4540.532151
4            1     59955.495690    4271.967786
..         ...              ...            ...
938          1     20377.662310    1349.490933
939          1     18150.421950     903.917757
940          2     89083.257910     802.175774
941          1      2928.253105     178.667635
942          1      1888.766343      26.551682

[943 rows x 3 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
labelencoder_x = LabelEncoder()

In [8]:
x = x.apply(LabelEncoder().fit_transform)

In [9]:
x

     GHG scope  Energy use (GJ)  Emissions (t)
0            1              869            894
1            0              854            846
2            1              784            808
3            0              685            691
4            0              648            674
..         ...              ...            ...
938          0              494            504
939          0              481            470
940          1              719            460
941          0              285            285
942          0              239            156

[943 rows x 3 columns]

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
regressor = DecisionTreeClassifier()

In [12]:
y = dataset.iloc[:,2]

In [13]:
y

0      facilities
1      facilities
2      facilities
3          fleets
4      facilities
          ...
938        fleets
939    facilities
940    facilities
941    facilities
942        fleets
Name: GHG source, Length: 943, dtype: object

In [14]:
regressor.fit(x.iloc[:,0:3], y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
x_in = np.array([0,854,846])

In [16]:
y_predict = regressor.predict([x_in])

In [17]:
y_predict

array(['facilities'], dtype=object)

In [18]:
from sklearn.externals.six import StringIO

D:\Anaconda\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [19]:
from IPython.display import Image

In [20]:
from sklearn. tree import export_graphviz

In [21]:
import pydotplus

In [22]:
dot_data = StringIO()

In [23]:
export_graphviz(regressor, out_file = dot_data, filled = True, rounded = True, special_characters = True)

In [24]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [25]:
graph.write_png('tree.png')

True